body {
  font: 13px / 1.4 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #333;
  background-color: #fff;
}

*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 1.1;
}

a {
  color: #4078c0;
  text-decoration: none;
  background-color: transparent;
}

img {
  border: 0;
}
ul, ol {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.main{
  position: relative;
  height: auto;
  min-height: 100%
}

.header {
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 1000px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #e5e5e5;
}

.page-content{
  padding-top:20px;
}

.container{
  width:980px;
  height:auto;
  margin-right:auto;
  margin-left:auto;
}

.container:before {
  display: table;
  content: ""
}

.container:after {
  display: table;
  clear: both;
  content: ""
}

.columns {
  margin-right: -10px;
  margin-left: -10px;
}

.columns:before {
  display: table;
  content: ""
}

.columns:after {
  display: table;
  clear: both;
  content: ""
}

.column {
  float: left;
  padding-right: 10px;
  padding-left: 10px;
}

.one-fourth {
  width: 25%;
}

.three-fourths {
  width: 75%;
}

.d-block {
  display: block;
}

.vcard-avatar {
  position: relative;
}

.tooltipped {
  position: relative;
}

.vcard-avatar .avatar {
  border-radius: 6px;
}

.avatar {
  display: inline-block;
  overflow: hidden;
  line-height: 1;
  vertical-align: middle;
  border-radius: 3px;
}

.vcard-names{
  line-height:1;
}
.mt-2{
  margin-top:6px;
}

.vcard-fullname {
  overflow: hidden;
  width: 100%;
  font-size: 26px;
  line-height: 30px;
  text-overflow: ellipsis;
}
.vcard-username {
  overflow: hidden;
  width: 100%;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  color: #666;
  text-overflow: ellipsis;
}

.py-3 {
  padding-top: 12px;
  padding-bottom: 12px;
}
.py-1 {
  padding-top    : 3px;
  padding-bottom : 3px;
}

.vcard-details {
  list-style: none;
  border-top: 1px solid #eee;
}

.vcard-detail {
  width: 100%;
  padding-left: 24px;
  overflow-x: hidden;
  white-space: nowrap;
  font-size: 14px;
  text-overflow: ellipsis;
}

.vcard-detail .octicon {
  float: left;
  width: 16px;
  text-align: center;
  margin-left: -24px;
  color: #999;
}
svg:not(:root) {
  overflow: hidden;
}
.octicon {
  display: inline-block;
  vertical-align: text-top;
  fill: currentColor;
}

.site-footer {
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 12px;
  line-height: 1.5;
  color: #767676;
  border-top: 1px solid #eee
}

.site-footer:before {
  display: table;
  content: ""
}

.site-footer:after {
  display: table;
  clear: both;
  content: ""
}

/*右侧css*/
.boxed-group {
  position: relative;
  border-radius: 3px;
  margin-bottom: 30px;

  background: yellow;
}

.boxed-group>h3, .boxed-group .heading {
  background-color: #f5f5f5;
  margin: 0;
  border-radius: 3px 3px 0 0;
  border: 1px solid #d8d8d8;
  border-bottom: 0;
  padding: 9px 10px 10px;
  font-size: 14px;
  line-height: 17px;
  display: block;
}

.boxed-group.flush .boxed-group-inner {
  padding: 0;
}

.boxed-group-inner {
  padding: 1px 10px;
  background: #fff;
  border: 1px solid #d8d8d8;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  color: #666;
  font-size: 13px;
}

.calendar-graph {
  padding: 5px 0 0;
  height: 126px;
  text-align: center;
}

.contrib-footer {
  font-size: 11px;
  padding: 0 10px 12px;
}

.clearfix:before {
  display: table;
  content: ""
}

.clearfix:after {
  display: table;
  clear: both;
  content: ""
}

.contrib-legend {
  float: right;
}
.text-small {
  font-size: 12px;
}
.left {
  float: left;
}
.text-muted {
  color: #767676;
}

.contrib-legend .legend {
  display: inline-block;
  list-style: none;
  margin: 0 5px;
  position: relative;
  bottom: -1px
}

.contrib-legend .legend li {
  display: inline-block;
  width: 10px;
  height: 10px
}
.contrib-column {
  padding: 15px 0;
  text-align: center;
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
  font-size: 11px;
}
.table-column {
  display: table-cell;
  width: 1%;
  padding-right: 10px;
  padding-left: 10px;
  vertical-align: top;
}
.contrib-column-first {
  border-left: 0;
}

.calendar-graph {
  padding: 12px 6px 0;
  height: 126px;
  text-align: center;
}

.contribution-activity h2 {
  margin: 30px 0 15px;
  font-size: 18px;
  font-weight: normal;
}

.conversation-list-heading {
  height: 0;
  margin: 35px 0 10px;
  font-size: 16px;
  font-weight: normal;
  color: #999;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.conversation-list-heading .inner {
  position: relative;
  top: -10px;
  display: inline-block;
  padding: 0 5px;
  background: #fff;
}
svg:not(:root) {
  overflow: hidden;
}
.text-emphasized {
  font-weight: bold;
  color: #333;
}
.simple-conversation-list {
  margin: 15px 0;
  font-size: 13px;
  color: #999;
}
.simple-conversation-list>li {
  padding: 11px 0 8px;
  margin: 0;
  list-style-type: none;
  border-top: 1px solid #eee;
}
.simple-conversation-list>li:first-child {
  border-top: 0;
}
.simple-conversation-list>li .title {
  font-weight: bold;
}

.tag_class{
  display: inline-block;
  height: 22px;
  line-height: 22px;
  padding: 0 5px;
  margin: 0 6px 6px 0;
  color: #fff;
  font-size: 12px;
  white-space: nowrap;
  background-color: #aaa;
  cursor: pointer;
  border-radius: 2px;
  -webkit-border-radius: 2px;
}